:root {
    --price: #f56035;
    --basic: #fed02a;
    --standard: #60b8dc ;
    --premium: #a743f5;
    --basic-bg: #faaf27;
    --standard-bg: #329ed5;
    --info: #e2e0e3;
    --info-text: #a3a3a2;
    --bg: #c2e0eb;
}

body {
    background-color: var(--bg);
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10%;
    margin: 10px;
}
/* tabla perse*/
table {
    width: 50%;
    justify-content: center;
    border-collapse: collapse;
}
/*Names*/
thead {
    text-shadow: 0px 0px 1px #181818;
    height: 100px;
}
/*Price*/
thead > tr > th:first-child {
    width: 28%;
    font-size: x-large;
    font-weight: 600;
}
thead > tr > th {
    font-weight: 400;
    font-size: larger;
    width: 24%;
}

/*Values*/
.precio > td {
    font-weight: 800;
    font-size: 40px;
}
thead > tr > td {
    font-weight: 400;
    font-size: smaller;
    height: 40px;
}

p {
    padding: 10px;
}

/*PRICE*/
thead > tr th:first-child {
    text-transform: uppercase;
    background-color: var(--price) ;
}
/*basic*/
thead > tr th:nth-child(2) {
    background-color: var(--basic-bg) ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
thead > tr > td:nth-child(1) {
    background-color: var(--basic) ;
}
/*standard*/
thead > tr > th:nth-child(3) {
    background-color: var(--standard-bg) ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
thead > tr > td:nth-child(2) {
    background-color: var(--standard) ;
}
/*premium*/
thead > tr, th:last-child {
    text-transform: lowercase;
    background-color: var(--premium) ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
thead > tr > th:last-child {
    transform: translateY(-10px);
}

/*Datos*/
tbody > tr > td {
    font-size: xx-large;
    color: var(--info-text);
    border-top: solid;
	border-bottom: solid;
    border-color: var(--bg) ;
	border-width: 7px;
}
tbody > tr:nth-of-type(odd) {
    background-color: var(--info);
}
tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}
tbody > tr:nth-child(2) {
    transform: translateX(-20px);
}
tbody > tr:last-child {
    transform: translateX(20px)
}
/*Pies*/
tfoot {
    height: 20px;
}
tfoot > tr > td:first-child {
    background-color: var(--price) ;
}
tfoot > tr > td:nth-child(2) {
    background-color:var(--basic) ;
}
tfoot > tr > td:nth-child(3) {
    background-color: var(--standard);
}
tfoot > tr > td:last-child {
    background-color: var(--premium);
}